<configuration scan="true" scanPeriod=" 5 seconds">
    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.alibaba.polardbx.common.logger.logback.ConsoleFilter"/>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{CONNECTION}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="ROOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/tddl.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/tddl-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>60GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{CONNECTION}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="MPP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/tddl-executor.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/tddl-executor-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{CONNECTION}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="CACHE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/cache.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/cache-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{CONNECTION}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="EVENT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/event.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/event-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="SLOW_DETAIL" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>polardbx</DefaultValue>
        </discriminator>
        <sift>
            <appender name="SLOW_DETAIL-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/slow_detail.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/slow_detail-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>10GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="SQL" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>polardbx</DefaultValue>
        </discriminator>
        <sift>
            <appender name="SQL-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/sql.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->

                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/sql-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>7</maxHistory>
                    <totalSizeCap>100GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <immediateFlush>true</immediateFlush>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="DDL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/ddl.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->

            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/ddl-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="PHYSICAL_SLOW" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>polardbx</DefaultValue>
        </discriminator>
        <sift>
            <appender name="PHYSICAL_SLOW-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/physical_slow.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>
                        ${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/physical_slow-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                    <totalSizeCap>10GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="XProtocol" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>polardbx</DefaultValue>
        </discriminator>
        <sift>
            <appender name="XProtocol-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/xprotocol.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->
                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/XProtocol-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="XLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/xrpc.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/XLog-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>14</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="TDDL_Dynamic_Config"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/tddl-dynamic.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/tddl-dynamic-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>180</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="META_DB_LOG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/meta-db.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/tddl-meta-db-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>14</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <appender name="DDL_ENGINE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/ddl-engine.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/ddl-engine-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{JOB_ID}] [%X{TASK_ID}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="DDL_META_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/ddl-meta.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->

            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/ddl-meta-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{56} - [%X{JOB_ID}] [%X{TASK_ID}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="TRANS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/trans.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/trans-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="SLOW_TRANS" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>app</Key>
            <DefaultValue>polardbx</DefaultValue>
        </discriminator>
        <sift>
            <appender name="SLOW-TRANS-{app}"
                      class="ch.qos.logback.core.rolling.RollingFileAppender">
                <File>${loggerRoot:-..}/logs/${app}/slow_trans.log</File>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <!-- rollover daily -->

                    <fileNamePattern>${loggerRoot:-..}/logs/${app}/%d{yyyy-MM-dd}/slow_trans-%d{yyyy-MM-dd}-%i.log.gz
                    </fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy
                            class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <!-- or whenever the file size reaches 100MB -->
                        <maxFileSize>512MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <maxHistory>7</maxHistory>
                    <totalSizeCap>100GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <immediateFlush>true</immediateFlush>
                    <pattern>
                        %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
                    </pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="asyncROOT" class="com.alibaba.polardbx.common.utils.logger.logback.AsyncAppender">
        <queueSize>100000</queueSize>
        <maxFlushTime>3000</maxFlushTime>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="ROOT"/>
    </appender>

    <appender name="asyncTRANS" class="com.alibaba.polardbx.common.utils.logger.logback.AsyncAppender">
        <queueSize>100000</queueSize>
        <maxFlushTime>3000</maxFlushTime>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="TRANS"/>
    </appender>

    <appender name="asyncSQL" class="com.alibaba.polardbx.common.utils.logger.logback.AsyncAppender">
        <queueSize>100000</queueSize>
        <maxFlushTime>3000</maxFlushTime>
        <discardingThreshold>0</discardingThreshold>
        <!-- 默认不阻塞，可能丢SQL日志 -->
        <neverBlock>true</neverBlock>
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} - [%X{CONNECTION}] %msg%n
            </pattern>
        </encoder>
        <supportRemoteConsume>true</supportRemoteConsume>
        <appender-ref ref="SQL"/>
    </appender>

    <!-- RPC Statistics File Appender: daily rolling -->
    <appender name="RPC_CACHE_STATISTICS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/__cache__/rpc_statistics.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/__cache__/%d{yyyy-MM-dd}/rpc_statistics-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 512MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <!-- RPC Query File Appender: daily rolling -->
    <appender name="RPC_CACHE_QUERY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/__cache__/rpc_query.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/__cache__/%d{yyyy-MM-dd}/rpc_query-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 512MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <!-- Statistics File Appender: daily rolling -->
    <appender name="CACHE_STATISTICS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/__cache__/statistics.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/__cache__/%d{yyyy-MM-dd}/statistics-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 512MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <!-- Query File Appender: daily rolling -->
    <appender name="CACHE_QUERY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/__cache__/query.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${loggerRoot:-..}/logs/__cache__/%d{yyyy-MM-dd}/query-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 512MB -->
                <maxFileSize>512MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %p %m%n</pattern>
        </encoder>
    </appender>

    <logger name="slow_detail" additivity="false">
        <level value="info"/>
        <appender-ref ref="SLOW_DETAIL"/>
    </logger>
    <logger name="physical_slow" additivity="false">
        <level value="info"/>
        <appender-ref ref="PHYSICAL_SLOW"/>
    </logger>

    <logger name="XProtocol" additivity="false">
        <level value="warn"/>
        <appender-ref ref="XProtocol"/>
    </logger>
    <logger name="XLog" additivity="false">
        <level value="info"/>
        <appender-ref ref="XLog"/>
    </logger>

    <logger name="TDDL_DYNAMIC_CONFIG" additivity="false">
        <level value="info"/>
        <appender-ref ref="TDDL_Dynamic_Config"/>
    </logger>
    <logger name="META_DB_LOG" additivity="false">
        <level value="info"/>
        <appender-ref ref="META_DB_LOG"/>
    </logger>
    <logger name="DDL_ENGINE_LOG" additivity="false">
        <level value="info"/>
        <appender-ref ref="DDL_ENGINE_LOG"/>
    </logger>
    <logger name="DDL_META_LOG" additivity="false">
        <level value="info"/>
        <appender-ref ref="DDL_META_LOG"/>
    </logger>
    <logger name="com.alibaba.polardbx.CobarServer" additivity="true">
        <level value="info"/>
    </logger>
    <logger name="com.alibaba.polardbx.config.loader" additivity="true">
        <level value="info"/>
    </logger>
    <logger name="com.alibaba.polardbx.net.handler.FrontendAuthenticator" additivity="true">
        <level value="info"/>
    </logger>
    <logger name="com.alibaba.polardbx.config.manager" additivity="true">
        <level value="warn"/>
    </logger>

    <logger name="sql" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="asyncSQL"/>
    </logger>
    <logger name="ddl" additivity="false">
        <level value="info"/>
        <appender-ref ref="DDL"/>
    </logger>
    <logger name="trans" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="asyncTRANS"/>
    </logger>
    <logger name="slow_trans" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="SLOW_TRANS"/>
    </logger>
    <logger name="event" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="EVENT"/>
    </logger>
    <logger name="com.alibaba.polardbx.common.oss" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="com.alibaba.polardbx.executor.archive" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="org.apache.orc" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="com.alibaba.polardbx.gms.engine" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="com.alibaba.polardbx.executor.mpp.discover" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="com.alibaba.polardbx.executor.mpp.execution" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="com.alibaba.polardbx.executor.mpp.deploy" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="com.alibaba.polardbx.executor.mpp.server" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="com.alibaba.polardbx.executor.mpp.web" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="io.airlift" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="mpp_log" additivity="false">
        <level value="info"/>
        <appender-ref ref="MPP_LOG"/>
    </logger>
    <logger name="com.alibaba.polardbx.cache" additivity="false">
        <level value="info"/>
        <appender-ref ref="CACHE_LOG"/>
    </logger>

    <!-- RpcCacheDeltaCounter logs only to file, not to console -->
    <logger name="RPC_CACHE_STATISTICS" level="INFO" additivity="false">
        <appender-ref ref="RPC_CACHE_STATISTICS"/>
    </logger>

    <!-- CacheCollector logs only to file, not to console -->
    <logger name="RPC_CACHE_QUERY" level="INFO" additivity="false">
        <appender-ref ref="RPC_CACHE_QUERY"/>
    </logger>

    <!-- CnCacheDeltaCounter logs only to file, not to console -->
    <logger name="CACHE_STATISTICS" level="INFO" additivity="false">
        <appender-ref ref="CACHE_STATISTICS"/>
    </logger>

    <!-- CacheCollector logs only to file, not to console -->
    <logger name="CACHE_QUERY" level="INFO" additivity="false">
        <appender-ref ref="CACHE_QUERY"/>
    </logger>

    <appender name="NL2SQL_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${loggerRoot:-..}/logs/tddl/nl2sql.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${loggerRoot:-..}/logs/tddl/%d{yyyy-MM-dd}/nl2sql-%d{yyyy-MM-dd}-%i.log.gz
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>128MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <immediateFlush>true</immediateFlush>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="NL2SQL" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="NL2SQL_LOG"/>
    </logger>

    <root level="WARN">
        <appender-ref ref="asyncROOT"/>
    </root>
</configuration>
